<extend name="Public/base" />
<block name="style">
<style>
</style>
</block>
<block name="content">
<!-- 右侧开始 -->
<div class="rt_content">
	<div class="page_title">
		<h2 class="fl">{$meta_title}</h2>
		<a href="{:U('edit')}" class="fr top_rt_btn add_icon">添加用户</a>
	</div>
	<section class="mtb">
		<input type="text" name="username" value="{$username}" class="textbox textbox_225 search" placeholder="请输入标题" />
		<input type="button" id="btn_search" value="查询" class="group_btn" />
	</section>
	<table class="table">
		<tr>
			<th><label><input type="checkbox" name="ids" class="check_all">全选</label></th>
            	<th>用户名</th>
            	<th>所属组</th>
            	<th>状态</th>
            	<th>操作</th>
		</tr>
		<volist name="list" id="v">
          <tr>
          	  <td>
          	  	<label>
	          	  	<input type="checkbox" name="ids" class="checkboxs" value="{$v['uid']}">{$v['uid']}
          	  	</label>
          	  </td>
              <td>
              	<a href="{:U('edit?id='.$v['uid'])}">{$v['username']}</a>
              </td>
              <td>{$group[$v['group']]|default='-'}</td>
              <td>{$status[$v['status']]}</td>
              <td>
              	<if condition="$v['status'] eq 1">
	              	<a href="javascript:;" class="ajax-confirm" data-url="{:U('status?id='.$v['uid'].'&s=0')}" data-title="确定禁用？">禁用</a>
              	<else />
	              	<a href="javascript:;" class="ajax-confirm" data-url="{:U('status?id='.$v['uid'].'&s=1')}" data-title="确定启用？">启用</a>
              	</if>
              	<a href="javascript:;" class="ajax-confirm" data-url="{:U('del?id='.$v['uid'])}" data-title="确定删除？">删除</a>
              </td>
          </tr>
         </volist>
	</table>
	<aside class="paging">
	  	<aside class="operation">
			<input data-url="{:U('del')}" type="button" class="group_btn btn_multi" value="批量删除">
			<input data-url="{:U('status?s=1')}" type="button" class="group_btn btn_multi" value="批量启用">
		    <input data-url="{:U('status?s=0')}" type="button" class="group_btn btn_multi" value="批量禁用">
		</aside>
 	  {$_page|default=''}
  	</aside>
</div>
<!--右侧内容结束--> <script>

$(function(){
	
});
</script> </block>